/* Projects */
.projects {
  width: 60%;
  margin: 5em auto;
}
.projects .project {
  width: 100%;
  margin: 7em auto;
  display: flex;
}
.projects .project1 {
  margin-top: 3em;
}

.projects .project .project-image {
  position: absolute;
  width: 37%;
  z-index: -1;
}
.projects .project .project-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00ddff44;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.projects .project:hover .project-image::before {
  opacity: 0;
}
.projects .project .project-image img {
  width: 100%;
  border-radius: 5px;
}
.projects .project .project-details {
  width: 50%;
  text-align: end;
  margin-left: 50%;
}
.projects .project .project-details h3 {
  color: #00ffc5;
  font-family: "M PLUS 1 Code", sans-serif;
  margin-bottom: 0.7em;
}

.projects .project .project-details h1 {
  color: #d3d0ff;
  font-size: 3rem;
  font-weight: 500;
}
.projects .project .project-details .description {
  background-color: #0d1a48;
  box-shadow: 0 0 10px 0 #0000002f;
  color: #d3d0ff;
  line-height: 2em;
  padding: 3em;
  z-index: 100;
  border-radius: 5px;
}
.projects .project .project-details ul {
  list-style: none;
  display: flex;
  justify-content: end;
  margin-top: 1em;
  gap: 1em;
  margin-bottom: 1em;
}
.projects .project .project-details ul li {
  color: #00ffc5;
  font-family: "M PLUS 1 Code", sans-serif;
  font-weight: 100;
}
.projects .project .project-details .project-links a {
  margin-left: 1em;
  margin-top: 2em;
  color: #d3d0ff;
  text-decoration: none;
}

.projects .project2 .project-image {
  position: absolute;
  width: 37%;
  z-index: -1;
}
.projects .project .project-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00ddff44;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.projects .project:hover .project-image::before {
  opacity: 0;
}
.projects .project .project-image img {
  width: 100%;
  border-radius: 5px;
}
.projects .project2 .project-details {
  width: 50%;
  text-align: start;
  margin-left: 50%;
}
